@import "src/assets/colors/colors";

html {
  font-size: 62.5%;
  text-size-adjust: 100%;
}

body {
  background-color: #ffffff;
  margin: 0;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  color: color(mono, dark);
  user-select: none;
  font-size: 1.4rem;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  .construction-text {
    font-weight: bold;
    color: $primary;
  }
}
